@use "./variables.scss" as *;

// Center all images in Quartz
img,
.image-embed img {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

p:has(img) {
  text-align: center !important;
}
